body
{
	margin: 0;
	font-family: "Lato", sans-serif;
	transition: background-color .3s;
	overflow-x: hidden;
}

::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px #bbb; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background: #c11; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
	background: #900; 
}

h1
{
	text-align: center;
	color: #c11;
	font-family: "Lato", sans-serif;
}

h3
{
	text-align: center;
	color: #c11;
	font-family: "Lato", sans-serif;
}

.textField
{
	height: auto;
	background-color: white;
	font-size: 36px;
	text-align: center;
}

.credits
{
	color: white;
	font-size: 25px;
	height: 280px;
	background-color: #222;
	padding-left: 100px;
}

.creditsText
{
	font-size: 15px;
}

.creditsText a
{
	color: white;
	text-decoration: none;
}

.creditsText a:hover
{
	color: #c11;
	cursor: pointer;
}

.creditsText:hover
{
	color: #c11;
	cursor: pointer;
}

.normalText
{
	color: black;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.normalTextButton
{
	color: black;
	font-size: 20px;
	text-align: left;
	padding-left: 120px;
	vertical-align: middle;
}

.normalTextButton:hover
{
	color: black;
	font-size: 20px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.newsText
{
	color: black;
	font-size: 20px;
	padding-top: 45px;
	padding-right: 20px;
	padding-left: 20px;
}

.data
{
	color: aaa;
	font-size: 14px;
}

.button
{
	background-color: transparent;
	border: none;
	color: $c11;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.learnMoreButton
{
	background-color: transparent; 
	color: #c11; 
	border: 3px solid #c11;
}

.learnMoreButton:hover
{
	background-color: #c11;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.newsImage
{
	width: 10%;
	padding-top: 20px;
	padding-right: 20px;
	float: left;
}

.column
{
	float: left;
	width: 25%;
	padding: 10px;
	height: 300px;
	background-color: transparent;
}

.row:after
{
	content: "";
	display: table;
	clear: both;
}

*
{
	box-sizing: border-box;
}

.parallax
{
	min-height: 400px; 
	
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-device-width: 1366px)
{
	.parallax
	{
		background-attachment: fixed;/*scroll;*/
	}
}

hr.rounded
{
	width: 95%;
	border: 4px solid #bbb;
	border-radius: 5px;
}

hr.small
{
	width: 90%;
	border-top: 1px solid #bbb;
	border-radius: 2px;
	align: center
}

#shadow
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#getInvisible
{
	visibility: visible;
}

.icon-bar
{
	font-family: "Lato";
	font-weight: normal;
	width: 100%;
	background-color: #ffe8de;
	overflow: auto;
	border-bottom: 5px solid #c11;
}

.icon-bar a
{
	float: left;
	text-align: center;
	padding: 12px 16px;
	transition: all 0.3s ease;
	color: black;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.icon-bar a#active
{
	text-decoration: underline;
	text-decoration-color: red;
}

.icon-bar a:hover
{
	text-decoration: underline;
	text-decoration-color: red;
}

.icon-bar a#logo
{
	padding-left: 70px;
	padding-right: 70px;
	background-color: #ffe8de;
	color: white;
	text-decoration: underline red;
	text-decoration-color: red;
}

.icon-bar .search-container
{
	float: right;
	padding-right: 30px;
}

.icon-bar input[type = text]
{
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.icon-bar .search-container button
{
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 19px;
	border: none;
	cursor: pointer;
}

.icon-bar .search-container button:hover
{
	background: #ccc;
}

@media screen and (max-width: 650px)
{
	.icon-bar .search-container
	{
		float: none;
		padding-left: 30px;
	}
	
	.icon-bar a, .icon-bar input[type = text], .icon-bar .search-container button
	{
		float: none;
		display: block;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	
	.icon-bar input[type = text]
	{
		border: 1px solid #ccc;
	}
	
	.newsImage
	{
		width: 50%;
	}
	
	.normalTextButton
	{
		padding-left: 20px;
	}
	
	.column
	{
		width: 100%;
		height: auto;
	}
	
	.creditsImage
	{
		width: 75%;
	}
	
	#getInvisible
	{
		visibility: visible;
	}
}